---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I am a current member of the teaching staff for DATA C101: Data Engineering at UC Berkeley. 

<br>

Feel free to click on each of my experiences for more details!

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% include base_path %}

{% assign sorted_posts = site.teaching | sort: 'order' %}

{% for post in sorted_posts %}
  {% include archive-single.html %}
{% endfor %}
